@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Open+Sans:wght@300;400;700&family=Playfair+Display&display=swap');

*{
/* 
   */
font-family: 'Open Sans', sans-serif;
}

body{
  margin: auto 0;
}

h1{
  font-family: 'Noto Sans JP', sans-serif;
}

ul>li{
  display: block;
  padding-top: 5rem;
  padding-left: 1rem;
  text-align: left;
}
li{
  color: rgb(99, 99, 99);
}
li:hover::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  margin-left:20px;
  width: 50%;
}
li:hover{
  color: #000;
}



.grid-container {
  display: grid;
  grid-template-columns: 180px 180px 0.7fr 0.8fr 0.9fr 1.6fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "SideBar SideBar text text text text" "SideBar SideBar text text text text" "SideBar SideBar text text text text" "SideBar SideBar text text text text" "SideBar SideBar text text text text";

  height: 100vh;
}

.SideBar {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.5fr 1.5fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "Logo ." ". side-menu" ". side-menu" ". .";
  grid-area: SideBar;
  background-color: darkgreen;
  
}
.bgimg{
  background-image: url('./img/brooke-lark-08bOYnH_r_E-unsplash.jpg');
  background-position: 40% 20%;
  background-size: cover;
  

}

.Logo { grid-area: Logo; 
background-color: #4059e7;
height: 80px;
width:80px;
}
.Logo p{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  margin: auto 0;
  padding-left: 20px;
  line-height: 1.2em;
  color: #fff;

}

.side-menu { grid-area: side-menu; }

.text > p, h1{
  padding-left: 40px;
  padding-right: 40px;
}

.text { grid-area: text; 
border: 1px solid rgb(219, 219, 219);
border-radius: 15px;
padding:30px;
margin: 30px;
}